<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>


        <!--<form>
            <div class="input">
                <i class="ss"></i>
                <input type="text" />
            </div>

            <div class="input">
                <i class="ss"></i>
                <input type="text" />
            </div>

            <div class="input">
                <i class="ss"></i>
                <input type="text" />
            </div>

            <div class="input">
                <i class="ss"></i>
                <input type="text" />
            </div>
        </form>-->
    </body>

    <script type="module">
        window.addEventListener("load", async () => {
            await fetch("/api/steam-auth");
        })
    </script>
</html>